.site-footer{
  text-align: left;
  color: #fff;

  .background-image{
    background-image: url("/wp-content/themes/kwa/images/footer-image.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
  
    .site-info{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start; 
      
      .footer-menu, .water-trail-map, .footer-right-content{
        padding: 1em 2em;
        width: fit-content;
      }

      .footer-menu{

        .menu{
          padding: 0;
          margin: 0;

          .menu-item{
            list-style-type: none;
            text-transform: captalize;

            a{
              color: #fff;
              font-family: $body;
              &:visited{
                color: #fff;
              }
            }

            ul{
              display: none;
            }
          }

          .donate-button{
            display: none;
          }
        }
      }

      .water-trail-map{
        max-width: 495px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .image-container{
          background-color: #fff;
          max-width: 125px;
          margin-right: 1em;
        }
      }

      .footer-right-content{
        text-align: right;

        .donate-button-container{
          position: relative;
        

          .donate-button{
            font-family: 'Archivo',san-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1;
            z-index: 2;
            background-color: transparent;
            margin-bottom: 0;
            position: absolute;
            right:0;

            a{
              color: #ffffff;
            }
          }
          .donate-line{
            width: 115px;
            height: 7px;
            background-color: $orange;
            position: absolute;
            top: 8px;
            right: -7px;
            z-index: 1;
          }
        }

        .social-icons-container{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items:center;
            width: fit-content;
            float: right;
            margin-top: 1em;

          a{
            color: #fff;

            .icon-container{
              padding: 0.25em;
              font-size: 1.5em;
            } 
          }
        }


      }
    }

    .bottom-info-container{
      text-align: center;
      padding: 1em;

      p{
        margin-bottom: 0;
      }
    }
  }
}


pre{
  background-color: unset;
}
