.centered-text{
	
	.background{
		background-color: $blue;
		color: #fff;
		text-align: center;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		h2{
			font-weight: 700;
			font-size: 1.75em;
		}
		p{
			max-width: 600px;
		}
	}
}