﻿/* * * * * * * * * *
HERO WITH SIDE TEXT
* * * * * * * * * */
.hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20em;

    @media screen and (min-width: 56em) {
        height: 30em;
    }

    @media screen and (min-width: 64em) {
        height: 40em;
    }

    .infowrap {
        width: 100%;
        height: auto;
        margin-top: 15em;
        float: right;
        clear: both;

        @media screen and (min-width: 56em) {
            width: 450px;
            height: inherit;
            margin-top: 0;
        }
        @media screen and (min-width: 64em) {
            width: 650px;
        }

        .dark-overlay {
            background-color: #000;
            background-image: unset;

            @media screen and (min-width: 56em) {
                background-color: unset;
                background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4),rgba(0,0,0,0.3), rgba(0,0,0,0.0));
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 2em 0;
            }

            .hero-textwrap {
                padding: 1em;
                color: #fff;

                @media screen and (min-width: 56em) {
                    width: 85%;
                    float: right;
                    padding-left: 0;
                    text-align: right;
                }

                h1 {
                    margin-top: 0;
                    font-size: 2.5em;
                    margin-bottom: 0;
                    font-weight: 700;

                    @media screen and (min-width: 56em) {
                        font-size: 3.5em;
                    }
                    @media screen and (min-width: 64em) {
                        font-size: 4em;
                    }
                }

                h3 {
                    margin-top: 0.5em;
                }

                p {
                    font-weight: 600;
                }
            }
        }
    }
}
