.image-left-text-right{
	
	.background{
		background-color: $blue;
		color: #fff;
		text-align: left;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		padding: 2em;

		@media screen and (min-width: 56em){
			flex-flow: row nowrap;
		}

		.image-container{
			width: 100%;
			padding-bottom: 1em;

			@media screen and (min-width: 56em){
				max-width: 40%;
				padding-right: 2em;
			}

			img{
				object-fit: cover;
				object-position: center;
			}
		}

		.text-wrap{
			width: 100%; 

			@media screen and (min-width: 56em){
				max-width: 60%;
			}	
		}
	}
}