.image-above-centered-text{
	
	.background{
		background-color: $green;
		color: #fff;
		text-align: center;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		padding: 2em 1em;

		.image-container{
			max-width: 350px;
			max-height: 350px;
			padding-bottom: 1em;

			img{
				object-fit: cover;
				object-position: center;
			}
		}

		h2{
			font-size: 1.75em;
			font-weight: 700;
		}

		p{
			max-width: 600px;
		}
	}
}