.number-left-text-right{
	.background{
		display: flex;
		flex-flow: column nowrap;
		color: #fff;
		position:relative;
		@media screen and (min-width: 64em){
			flex-flow: row nowrap;
			align-items: center;
		}

		.number-wrap{
			width: 100%;
			background-color: rgba(75,75,75,0.2);

			@media screen and (min-width: 64em){
				width: 400px;
				height: 100%;
			}

			.number{
				font-family: $headers;
				font-size: 5em;
				margin-bottom: 0;
				text-align: center;
			}

			
		}

		.text-wrap{
			padding: 1em;

			h3{
				text-transform: uppercase;
				font-size: 1em;
			}
		}
	}
}