.text-left-full-image-right{
	
	.background{
		background-color: $green;
		color: #fff;
		text-align: left;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 56em){
			flex-flow: row nowrap;
		}

		.image-container{
			width: 100%;
			max-height: 400px;
			overflow: hidden;

			@media screen and (min-width: 56em){
				max-width: 50%;
			}

			img{
				height: 100%;
				width: auto;
				object-fit: cover;
				object-position: center;
			}
		}

		.text-wrap{
			width: 100%;
			padding: 2em 2em; 

			@media screen and (min-width: 56em){
				max-width: 50%;
				padding: 1em 2em; 
			}	
		}
	}
}