/*Colors*/
$blue: rgb(42,103,178);
$orange: rgb(250,151,38);
$green: rgb(157,203,75);
$darkgreen: rgb(132,170,64);
$darkblue: rgb(36,84,142);

/*Typography*/
$headers: 'Archivo', serif;
$body: 'Montserrat', sans-serif;


p{
	font-family: $body;
}

h1{
	font-family: $headers;
	font-size: 2.5em;
	font-weight: 700;
}
h2{
	font-family: $headers;
	font-size: 2em;
	font-weight: 700;
}
h3{
	font-family: $headers;
	font-size: 1.75em;
	font-weight: 700;
}
h4{
	font-family: $headers;
	font-size: 1.5em;
	font-weight: 700;
}
h5{
	font-family: $headers;
	font-size: 1.25em;
	font-weight: 700;
}
h6{
	font-family: $headers;
	font-size: 1em;
	font-weight: 700;
}

/*Universal Items*/
.orange-button{
	background-color: $orange;
	padding: 0.75em 1em;
	margin-right: 0.5em;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-family: $body;
	&:visited{
		color: #fff;
	}
}

.orange-button-width{
	width: 155px;
}

.dark-overlay{
	background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4),rgba(0,0,0,0.3), rgba(0,0,0,0.0));;
	width: 100%;
	height: 100%;
}

.dark-overlay-left{
	background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4),rgba(0,0,0,0.3), rgba(0,0,0,0.0));;
	width: 100%;
	height: 100%;
}

.blue-overlay{
	background-color: rgba(42,103,178,0.8);
}

form{
	h3{
		color: $orange;
	}
}

article {
	footer{
		display: none;
	}
}
