.home{

  .entry-header{
    display: none;
  }
}

/* * * * * * * * * *
HERO
* * * * * * * * * */
/*.hero-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20em;
    @media screen and (min-width: 56em){
      height: 30em;
    }
    @media screen and (min-width: 64em){
      height: 40em;
    }
    .infowrap{
      width: 100%;
      height: auto;
      margin-top: 19em;
      float: left;
      clear: both;
      @media screen and (min-width: 56em){
        width: 445px;
        height: inherit;
        margin-top:0;
      }
      .dark-overlay{
        background-color: #000;
        background-image: unset;
        @media screen and (min-width: 56em){
          background-color: unset;
          background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4),rgba(0,0,0,0.3), rgba(0,0,0,0.0));
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          align-items: center;
        }
        .hero-textwrap{
          padding: 1em;
          color: #fff;
          @media screen and (min-width: 56em){
            width: 85%;
            float: right;
            padding-left: 0;
          }
          h1{
            margin-top:0;
            font-size: 1.75em;
            margin-bottom: 0;
            @media screen and (min-width: 800px){
              font-size: 2.5em;
            }
          }
          h3{
            margin-top: 0.5em;
          }
          p{
            font-weight: 600;
          }
      }
    }
  }
}
/* * * * * * * * * *
THIRDS
* * * * * * * * * */
/*.thirds{
  .thirds-container{
    padding: 5em 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .third{
    width: 100%;
    text-align: center;
    @media screen and (min-width: 56em){
      width: 25%;
    }
    .fas{
      font-size: 10em;
      color: $orange;
    }
  }
}
/* * * * * * * * * *
TWO-COLUMN
* * * * * * * * * */
/*.two-columns{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  clear:both;
  .left-half{
    width: 100%;
    height: 30em;
    padding: 2em;
    background-color: $orange;
    @media screen and (min-width: 56em){
      width: 50%
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .right-half{
    width: 100%;
    max-height: fit-content;
    padding: 2em;
    background-color: $orange;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    @media screen and (min-width: 56em){
      width: 50%;
      max-height: unset;
      height: 30em;
    }
    h1,h2,h3,h4,h5,h6,p{
      font-size: 3em;
    }
  }
}
/* * * * * * * * * *
PROJECT
* * * * * * * * * */
/*.project-section{
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  .column-left{
    width: 100%;
    padding-bottom: 1em;
    @media screen and (min-width: 56em){
      width: 40%;
    }
    h2{
      margin-top: 0;
    }
  }
  .column-right{
    width: 100%;
    height: 25em;
    @media screen and (min-width: 56em){
      width: 40%;
      padding: 1em 2em;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

}*/
