.entry-header{
	background-image: url("/wp-content/themes/kwa/images/header-image.jpg");
	width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    .info-wrap{
	    height: 100%;

	    h1{
			margin: 0;
			padding: 0.75em;
			color: #fff;
			font-family: $headers;
			font-weight: 700;
			font-size: 3em;
		}
	}
}