.dropdown:hover .dropdown-menu {
     display: block;
}

.site-header{
	font-family: "Open Sans", sans-serif;
	height: 65px;
	border-bottom: thin solid #ccc;
	padding: 0;
	@media screen and (min-width: 48em){
		padding: 0 1em;
		height: 100px;
	}
	.site-branding{
		width: 200px;
		display: inline-block;
		float: left;
		padding: 0.5em;
		@media screen and (min-width: 48em){
		width: 275px;
		}
	}

	.social-icons-container{
		display: none;
		@media screen and (min-width: 48em){
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items:center;
			width: fit-content;
			float: right;
		}
		@media screen and (min-width: 62em){
			padding-right: 0.75em;
		}

		a{
			color: #000;

			.icon-container{
		    	padding: 0.25em;
		    	font-size: 1.5em;
		    }
		}

	    
	}

	nav.navbar{
		width: 100%;
	    position: absolute;
	    top: 20px;
	    left: 0;
	    padding: 0;
	    display: block;
		float: right;
		font-family: $body;
		background-color: transparent !important;

		@media screen and (min-width:48em){
			top: 35px;
		}
		@media screen and (min-width:62em){
			width: fit-content;
			padding: 0 1em 0 0;
			right: 0;
			left: unset;
		}

		.navbar-toggler{
			border: none;
			float: right;
		}

		.navbar-collapse{
			background-color: #fff;

			ul{
				margin-top: 43px;
				padding: 0 1em;
				@media screen and (min-width: 62em){
					margin-top: unset;
				}

				.menu-item{
					z-index: 5;
					background-color: #fff;
					position: relative;
				}
			}
		}

		.donate-button{
			font-family: 'Archivo',san-serif;
			font-weight: 700;
			text-transform: uppercase;
		    font-size: 24px;
		    line-height: 1;
		    z-index: 1;
		    background-color: transparent;
		    &:before{
		    	border-top: 7px solid $orange;
		        content:"";
		        margin: 0 auto; /* this centers the line to the full width specified */
		        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
		        top: 16px;
		        left: -8px; 
		        width: 115px;
		        z-index: -1;
		    }
		    @media screen and (min-width:62em){
		    	&:before{
		    		left: unset;
		    	}
		    }

		    a{
		    	color: $blue;
		    }
		}
	}
}
	