.four-across-slider{
  padding: 0 2em;

  .swiper-container-four-across {
    width: 100%;
    height: 100%;

    .swiper-wrapper{

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        padding: 1em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .post-image{
          width: 100%;
          max-height: 200px;
          overflow: hidden;
          margin: 0.5em;

          img{
            width: 100%;
            height: 100%;
            min-height: 200px;
            object-position: center;
            object-fit: cover;
          }
        }
      }
    }
  }
}

